.file-uploader__list {
  .file-uploader__list--item {
    position: relative;
    border: 1px solid grey;
    line-height: 36px;
    padding: 0 15px;
    border-radius: 2px;
    box-shadow: -2px 1px 3px -2px rgba(0, 0, 0, 0.75);
    margin-bottom: 8px;
  }

  .file-uploader__list--icon {
    position: absolute;
    right: 15px;
    top: 9px;
    cursor: pointer;

    &:hover {
      filter: brightness(70%);
    }
  }
}