.navbar {
  border-bottom: 1px solid;

  .navbar-nav {
    padding-right: 25px;

    .nav-link {
      color: $color-aqua-dark;

      &:hover {
        color: $color-aqua-light
      }
    }
    .router-link-active {
      font-weight: 600;
      color: $color-aqua-light
    }
  }

  .navbar--vertor__brand {
    .brand__logo {
      margin-left: 15px;
      width: 50px;
      height: 50px;
      cursor: pointer;
      border-radius: 50%;
      -webkit-transition: -webkit-transform .8s ease-in-out;
      transition: transform .8s ease-in-out;

      &:hover {
        filter: brightness(90%);
        transform: rotate(360deg);
      }
    }

    .brand__title {
      font-weight: 600;
      text-decoration: none;
      font-size: 25px;
      line-height: 50px;
      margin: 0 0 0 15px;
      vertical-align: bottom;
      background: -webkit-linear-gradient(#19b9d6, #0ba27f);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &:hover {
        filter: brightness(90%);
      }
    }
  }

  .dropdown--vertor {
      .dropdown-toggle {
        background-color: #fff;
        border-color: $color-aqua-dark;
        color: $color-aqua-dark;
      }

    .dropdown-menu {
      .row {
        margin: 0;
      }
      .dropdown-item {
        margin: 0;
        background-color: $color-white;

        &:hover {
          background-color: $color-gray-light;
          color: $color-aqua-dark;;
        }
        &.active {
          background-color: $color-aqua-dark;
          color: $color-white;
        }
      }

      .nav-link {
        color: $color-aqua-dark;
      }

      .router-link-active {
        color: $color-white;
      }
    }
  }
}